<div class="navbar">
  <a href="/" class="navbar-header">filemanager</a>
</div>
<div class="error-container">
  <p class="error-heading">Ups!</p>
  <p class="error-info">Wyglda na to, 偶e wybrae plik z rozszerzeniem, kt贸rego nie obsugujemy. Spr贸buj wybra inny
    format pliku lub
    poczekaj, a偶 zaktualizujemy nasz baz rozszerze (nie licz na to). Aby wr贸ci na stron g贸wn kliknij taczcego
    zielonego ludka  albo w lewy g贸rny r贸g</p>
  <a href="/"> <img class="alien-dance" src="/images/aliendance.gif" alt="aliendance"></a>
</div>