<div class="navbar">
  <a href="/" class="navbar-header">filemanager</a>
</div>
<div class="main">
  <div class="side-info-2">
    <div class="showfile-btns-div">
      <button class="font-minus">font -</button>
      <button class="colors">kolory</button>
      <button class="font-plus">font +</button>
    </div>
    <button class="side-info-button">zapisz ustawienia</button>
    <button class="side-info-button">zmiana nazwy</button>
    <button class="file-preview">podgląd pliku</button>
  </div>
  <div class="side-files">
    <div class="file-path-name">
      <p>{{fileRoot}}</p>
    </div>
    <div class="numbering">
    </div>
    <textarea id="textarea" cols="180" rows="30">
     {{fileContent}}
    </textarea>
    <button style="margin-left: 15px;" class="side-info-button save-changes">zapisz zmiany</button>
  </div>
</div>
<script>
  let option = 0
  const area = document.getElementById("textarea")
  const content = area.value.split("\n")
  const numbering = document.querySelector('.numbering')
  const areaMarginLeft = parseInt(window.getComputedStyle(area).getPropertyValue("margin-left").split('px')[0])
  const numberingMarginLeft = parseInt(window.getComputedStyle(numbering).getPropertyValue("margin-left").split('px')[0])
  function bgToggle() {
    console.log(option)
    if (option === 0) {
      area.style.color = 'white'
      area.style.backgroundColor = 'black'
      numbering.style.backgroundColor = 'black'
      option = 1
    } else if (option === 1) {
      area.style.color = 'black'
      area.style.backgroundColor = 'white'
      numbering.style.backgroundColor = 'white'
      option = 0
    }


  }
  document.querySelector('.colors').addEventListener("click", () => {
    bgToggle()
  })
  function updateNumberingHeight() {
    const fontSize = parseInt(window.getComputedStyle(area).getPropertyValue("font-size").split('px')[0])
    const areaHeight = parseInt(window.getComputedStyle(area).getPropertyValue("height").split('px')[0])
    numbering.style.height = `${areaHeight}px`
    numbering.style.fontSize = `${fontSize}px`
  }

  for (let i = 1; i <= content.length; i++) {
    const p = document.createElement('p')
    p.append(i)
    numbering.appendChild(p)
  }

  updateNumberingHeight()

  let isKeyPressed = false

  document.getElementById("textarea").addEventListener("input", function () {
    console.log(area.value.split("\n").length, content.length)

    if (content.length < area.value.split("\n").length && isKeyPressed) {
      content.length++
      const p = document.createElement('p')
      p.append(area.value.split("\n").length)
      numbering.appendChild(p)
      console.log(numbering.lastChild)
    } else if (content.length > area.value.split("\n").length) {
      content.length--
      const lastChild = numbering.lastChild;
      if (lastChild) {
        lastChild.remove()
      }
    }
  });

  document.getElementById("textarea").addEventListener("keydown", function (event) {
    if (event.key === "Enter") {
      isKeyPressed = true
    }
  });

  document.getElementById("textarea").addEventListener("keyup", function (event) {
    if (event.key === "Enter") {
      isKeyPressed = false
    }
  });

  document.querySelector('.font-minus').addEventListener("click", () => {
    const fontSize = parseInt(window.getComputedStyle(area).getPropertyValue("font-size").split('px')[0])
    area.style.fontSize = `${fontSize - 1}px`
    //area.style.marginLeft = `${areaMarginLeft - 1}px`
    //numbering.style.marginLeft = `${numberingMarginLeft - 1}px`
    updateNumberingHeight()
  });

  document.querySelector('.font-plus').addEventListener("click", () => {
    const fontSize = parseInt(window.getComputedStyle(area).getPropertyValue("font-size").split('px')[0])
    area.style.fontSize = `${fontSize + 1}px`
    //area.style.marginLeft = `${parseInt(areaMarginLeft) + 1}px`
    //numbering.style.marginLeft = `${parseInt(numberingMarginLeft) + 1}px`
    updateNumberingHeight()
  });

  textarea.addEventListener("scroll", function () {
    numbering.scrollTop = textarea.scrollTop
  })
  let preview = 0
  document.querySelector('.file-preview').addEventListener("click", () => {
    if (preview === 0) {
      area.style.display = 'none'
      numbering.style.display = 'none'
      document.querySelector('.save-changes').style.display = 'none'
      preview = 1
    } else if (preview === 1) {
      area.style.display = 'block'
      numbering.style.display = 'block'
      document.querySelector('.save-changes').style.display = 'block'
      preview = 0
    }
  })
</script>