* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar {
  width: 100%;
  height: 12vh;
  background-image: url("/images/bg.jpg");
  display: inline-flex;
  align-items: center;
}

.navbar-header {
  text-decoration: underline;
  color: white;
  margin-left: 30px;
  cursor: pointer;
  font-size: 1.5vi;
  font-weight: 600;
}

.side-info {
  background-color: lightgray;
  height: 88vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.side-info-button {
  border: none;
  border-radius: 25px;
  height: 6vh;
  margin-top: 10px;
  background-color: #fada24;
  font-weight: 600;
  width: 13vw;
  cursor: pointer;
  font-size: 1vi;
  transition: 0.25s ease-in-out;
}

.side-info-button:hover {
  background-color: #2444fa;
  color: white;
}

.input-file {
  margin-top: 15px;
  width: 13vw;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background-color: #fff;
  border-radius: 10px;
}

.input-file::file-selector-button {
  font-weight: 600;
  margin-right: 20px;
  border: none;
  background-color: #fada24;
  padding: 10px 20px;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  transition: background 0.25s ease-in-out;
}


.input-file::file-selector-button:hover {
  background: #2444fa;
  color: white;
}

.folder-dialog {
  margin: auto;
  width: 70vh;
  height: 25vh;
  background-image: url("/images/bg.jpg");
  border-radius: 5px;
  border: none;
  color: white;
  display: none;
  position: relative;
}

.edit-folder-dialog {
  margin: auto;
  width: 70vh;
  height: 25vh;
  background-image: url("/images/bg.jpg");
  border-radius: 5px;
  border: none;
  color: white;
  display: none;
  position: relative;
}

.change-rootname {
  color: #fada24;
}

.dialog-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dialog-p {
  margin-left: 15px;
}

.input-text {
  margin-top: 15px;
  margin-left: 15px;
  width: 35vh;
  height: 4vh;
  border: none;
  border-radius: 5px;
  font-size: 1.1vi;
}

.dialog-button {
  width: 8vh;
  height: 5vh;
  border: none;
  border-radius: 5px;
  background-color: yellow;
  font-size: 1.1vi;
  cursor: pointer;
  transition: background 0.25s ease-in-out;
}

.dialog-button:hover {
  background: #2444fa;
  color: white;
}

.buttons-div {
  align-self: flex-start;
  margin-right: 25px;
  margin-top: 25px;
  position: absolute;
  right: 0;
  bottom: 15px;
}

.file-dialog {
  margin: auto;
  width: 70vh;
  height: 25vh;
  background-image: url("/images/bg10es.png");
  border-radius: 5px;
  border: none;
  color: white;
  display: none;
  flex-direction: column;
  justify-content: center;
}

.upload-form {
  display: flex;
  flex-direction: column;
  border: 5px dotted rgb(87, 15, 241);
  margin-top: 15px;
  padding: 5px;
}

.side-folder-files {
  margin: 15px;
  width: 85vw;
}

.main {
  display: flex;
  flex-direction: row;
  height: 78vh;
}

.files {
  margin: 10px;
  height: 110px;
  width: fit-content;
  background-color: pink;
  border-radius: 10px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  position: relative;
}

.files-img {
  height: 50px;
  width: 50px;
  margin-top: 5px;
  margin: auto;
}

.files-link {
  margin-left: 15px;
  margin-top: 15px;
}

.files-name {
  text-align: center;
}

.folders {
  margin: 10px;
  height: 110px;
  width: fit-content;
  background-color: rgb(112, 221, 251);
  border-radius: 10px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  position: relative;
}

.folders-img {
  height: 50px;
  width: 50px;
  margin: auto;
  margin-top: 5px;
}

.folders-link {
  margin-left: 15px;
  margin-top: 15px;
}

.folders-name {
  text-align: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.folders-name:hover {
  text-decoration: underline;
  font-size: 14px;
  color: rgb(248, 237, 34);
}

.folders-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.folders-btn {
  border: none;
  width: 10px;
  height: 15px;
  margin-top: 25px;
  margin-left: 5px;
  cursor: pointer;
  background-color: transparent;
  font-size: 11px;
  text-decoration: underline;
  top: -20px;
  right: 5px;
  position: absolute;
}

.folders-btn:hover {
  color: red;
}

.files-btn {
  border: none;
  width: 10px;
  height: 15px;
  margin-top: 25px;
  margin-left: 5px;
  cursor: pointer;
  background-color: transparent;
  font-size: 11px;
  text-decoration: underline;
  top: -20px;
  right: 5px;
  position: absolute;
}

.files-btn:hover {
  color: red;
}

.files-form {
  display: flex;
  flex-direction: row;
}

.form-css {
  align-self: center;
}

.info-msg {
  width: 100%;
  background-color: lightcoral;
  height: fit-content;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  position: relative;
}

.info-p {
  padding: 10px;
  font-size: 21px;
}

.info-btn {
  position: absolute;
  right: 15px;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  font-size: 21px;
  color: black;
  padding: 5px;
}

.info-btn:hover {
  background-color: rgb(249, 44, 44);
  color: white;
}

.path-button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  text-decoration: underline;
  color: #551A8B;
  cursor: pointer;
}

a {
  font-size: 16px;
}

.files-showfile-href {
  color: black;
  font-size: 13px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
}

.files-showfile-href:hover {
  text-decoration: underline;
  font-size: 14px;
  color: rgb(248, 237, 34);
}

.showfile-btns-div {
  margin-top: 5px;
  display: inline-flex;
  width: 15.6rem;
  justify-content: center;
  height: 2.5rem;
}

.showfile-btns-div button {
  padding: 5px;
}

.font-minus {
  background-color: rgb(248, 237, 34);
  border: none;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}

.colors {
  background-color: rgb(248, 166, 34);
  border: none;
  cursor: pointer;
}

.font-plus {
  background-color: rgb(248, 98, 34);
  border: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.file-preview {
  color: white;
  border: none;
  border-radius: 25px;
  height: 6vh;
  margin-top: 10px;
  text-decoration: underline;
  background-color: #2444fa;
  font-weight: 600;
  width: 13vw;
  cursor: pointer;
  font-size: 1vi;
  transition: 0.25s ease-in-out;
}

.file-preview:hover {
  background-color: #677efe;
  color: black;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  border-left: 3px solid green;
  margin-left: 28px;
  color: black;
  width: 89vw;
  font-size: 15px;
  height: 33rem;
}

textarea:focus {
  outline: none;
}

.file-path-name {
  background-color: rgb(82, 81, 81);
  height: 1.5rem;
  margin: 0;
  display: flex;
  align-items: center;
  width: 103%;
}

.file-path-name p {
  color: white;
  font-size: 1rem;
  margin-left: 5px;
  font-family: 'Courier New', Courier, monospace;
}

.side-files {
  width: 85vw;
}

.numbering {
  font-family: Arial, Helvetica, sans-serif;
  width: 1.94vw;
  float: left;
  position: absolute;
  color: rgba(32, 189, 189, 0.663);
  font-size: 14.4px;
  height: 32.5rem;
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.numbering::-webkit-scrollbar {
  width: 0;
  display: none;
}

.side-info-2 {
  background-color: lightgray;
  height: 88vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  overflow: hidden;
}

.error-container {
  height: 88vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.error-heading {
  font-size: 9.375rem;
  font-weight: bold;
  letter-spacing: 0.625rem;
  color: rgb(237, 18, 18);
}

.error-info {

  font-size: 2.5rem;
  text-align: center;
  color: rgb(190, 41, 41);
}

.alien-dance {
  width: 9.719rem;
  height: 15.563rem;
}